body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

.row-stabilizer {
    width: calc(100%) !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #343a40;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.list-group-item-action {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list-group-item-action:hover {
    background-color: #f8f9fa;
    color: #007bff;
}
