{% extends "encyclopedia/layout.html" %}
{% load custom_filters %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>All Pages</h1>

<ul class="list-group">
    {% for entry in entries|sort %}
    <li class="list-group-item" style="padding: 0px;">
        <a href="{% url 'encyclopedia:entry' entry|lower %}" class="list-group-item-action"
            style="display: block; width: 100%; height: 100%; cursor: pointer; padding: 10px;">{{ entry|lower }}</a>
    </li>
    {% endfor %}
</ul>

<!-- <script>
    // Log each entry to the console
    const data = {{ entries| safe }};
    data.forEach(entry => {
        console.log(entry);
    });
</script> -->

{% endblock %}