{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New Page
{% endblock %}

{% block body %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
<h1>Create New Page</h1>

<form action="{% url 'new' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ form.title.value|default:'' }}"
            required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" rows="10"
            required>{{ form.content.value|default:'' }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}